:root {
    /*Stacking structure*/
    --z-back: -10; 
    --z-normal: 1; 
    --z-tooltip: 10; 
    --z-fixed: 100; 
    --z-modal: 1000; 
}

body {
    min-width: 100vw;
}

.sections {
    min-width: 100%;
}

.main-header {
    padding: 1.2rem;
    height: 17.2vh;
    z-index: var(--z-fixed);
}
.main-header::after {
    content: "^";
    position: absolute;
    bottom: -8px;
    transform: rotate(180deg);
}
.main-header__menu {
    position: fixed;
    height: 100vh;
    top: -100vh;
    background-color: inherit;
    width: 100vw;
    height: calc(100vh - 16vh);
    padding: 1rem;
    z-index: var(--z-back);
    transition: .35s;
}
.main-header__menu.is-active {
    top: 16vh;
}
.main-header__menu ul li {
    margin: 3rem 0 0;
}
.main-header__logo {
    min-width: 100%;
    padding: 0.4rem 0 0;
    border: 2px solid black;
    background-color: inherit;
    border-radius: 1rem;
    justify-content: center;
}

.main-content__image {
    width: auto;
}

.main-content__image img {
    width: 30rem;
}
.main-content {
    max-width: 96%;
    margin: 1rem 1%;
    padding: .5rem 1%;
}
.main-content__text {
    padding: 3rem 0 0 1rem;
    font-size: 3rem;
}

.subtitles {
    margin: 0 auto;
    padding: 0;
    padding-left: 1.5rem;
    font-size: 2rem;
}
.portfolio__content {
    padding: 1rem;
    margin: 2rem 0;
}
.portfolio__text h6 {
    margin: 0 1rem 1rem;
}
.portfolio__text p {
    margin: 1rem 1.2rem 2rem;
}

.experience {
    margin-top: 1.5rem;
}
.experience>div {
    padding: 0;
    margin: 1rem 0 0;
}
.experience__content {
    padding: 1rem;
    width: 100%;
}
.experience__text h3 {
    font-size: 2.2rem;
    padding: 1rem;
}
.experience__text p {
    margin-bottom: 1rem;
}

.contact {
    padding: 2.5rem 0.5rem;
    border-top: none;
}
.contact__content {
    display: block;
    padding: 1.2rem;
    text-align: center;
}
.contact__content #email {
    margin: 1.2rem 0;
    font-size: 1.6rem;
    width: 90%;
}
.contact__content .button {
    font-size: 1.6rem;
    margin-left: 0;
}