h3 {
    font-size: 3rem;
    padding: 1.2rem 1.2rem 0;
}

.main-header {
    position: static;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 22rem;
}

.main-header__logo {
    margin-left: 0;
}

.main-header__logo a {
    font-size: 1.8rem;
}
.main-header__logo a:nth-child(2) {
    font-size: 1.8rem;
}

.main-header__menu ul li {
    display: block;
    text-align: center;
    margin: 2rem 0 0;
    font-size: 1.6rem;
}

.main-content {
    margin: 2.6rem auto;
}

.sections {
    max-width: 95%;
}

.portfolio__content {
    display: inline-block;
    padding: 2rem;
    margin: 1.6rem;
}
.portfolio__text {
    font-size: 1.6rem;
}
.portfolio__text h3 {
    font-size: 3rem;
    padding: 1.2rem 1.2rem 0;
}
.portfolio__text h6 {
    font-size: 1.65rem;
}
.portfolio__text p {
    padding-right: 0;
    margin: 1rem 1.5rem 2.5rem;
}
.portfolio__image {
    margin: 0 auto;
}
.portfolio__image img {
    border-radius: 1.2rem; 
}

.experience__text h3 {
    font-size: 2.2rem;
    padding: 1.2rem;
}
.experience__text p {
    letter-spacing: 0.02rem;
    line-height: 2.3rem;
}

.contact h2 {
    text-align: center;
}
.contact__content {
    flex-direction: column;
}
.contact__content .social-media {
    margin-top: 1.2rem;
}

.main-footer p {
    text-align: center;
}