* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: 62.5%;
    --main-color: rgb(100, 196, 234);
}

body {
    font-size: 1.65rem;
    font-family: 'Source Sans Pro', sans-serif;
}

li {
    list-style: none;
}
a{
    text-decoration: none;
    color: black
}

img {
    width: 100%;
    height: auto;
}

.main-header {
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header__logo {
    padding: 1.2rem;
    margin-left: 1.2rem;
    display: flex;
    align-items: center;
}
.main-header__logo>a img {
    min-width: 5.12rem;
}
.main-header__logo a:nth-child(2) {
    display: inline-block;
    margin-left: .55rem;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.03rem;
    word-spacing: 0.16rem;
}

.main-header__menu ul li {
    display: inline-block;
    margin: 0 2.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.03rem;
    word-spacing: 0.16rem;
}
.main-header__menu ul li:last-child {
    border: .2rem solid black;
    padding: .5rem;
    border-radius: .55rem;
}


.main-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main-content__text {
    font-size: 4rem;
    font-weight: bold;
}
.main-content__text span {
    color: var(--main-color);
}
.main-content__image img {
    border-radius: 1.2rem;
    max-width: 40rem;
    padding: 10rem 0;
}